.about {
  height: 100vh;
  background-color: #26262b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.about-description {
  width: 60%;
  color: white;
}

h3 {
  width: 60%;
  color: white;
  text-align:center;
}


@media (max-width: 450px){
  .about-description {
    width: 80%;
    color: white;
  }
}
