.contact-details-container > p {
  font-size: 3vw;
  font-weight: lighter;
  line-height: 66px;
  text-align: center;
}

.contact {
  grid-area: contact;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
