.hero {
  height: 100vh;
  grid-area: hero;
  display: grid;
  position: relative;
  top: 75px;
  align-items: center;
  justify-items: center;
  grid-auto-rows: minmax(33vh, 100vh);
  color: white;
}

.welcome-message {
  text-align:center;
}


.heroImage {
  content:url(id.jpg);
  border: 3px black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 100px;
}

