

.navBarElement {
  color: aliceblue;
  font-size: 20pt;
  margin: 30px;
}

.greynNavBarElement {
  color:  #1a1a1a;
  font-size: 20pt;
  margin: 30px;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 75px;
  transition: background-color .5s;
}

.greyNavBar {
  background-color:#f2f2f2;
}

.clearNavBar {
  background-color:rgba(255, 255, 255, 0);
}

@media (max-width: 450px){
  .navBarElement {
    color: aliceblue;
    font-size: 12pt;
    margin: 5px;
  }

  .greynNavBarElement {
    color:  #1a1a1a;
    font-size: 12pt;
    margin: 5px;
  }
}
